@import url("https://fonts.googleapis.com/css?family=Arvo:400,700");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: "Arvo", serif;
	color: #F7F5E3;
}
#mainPanel {
	background-color: #161514;
	width: calc(100% - 400px);
	height: 100%;
	float: right;
	padding: 15px;
}
#sidePanel {
	background-color: #1C1A19;
	width: 400px;
	height: 100%;
	float: left;
	padding: 15px;
}
.item {
	background-image: url(sprites/artifacts_base.png);
	width: 48px;
	height: 58px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	list-style-type: none;
}
.spell {
	background-image: url(sprites/spells_base.png);
	width: 80px;
	height: 60px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	list-style-type: none;
}
#sidePanel #itemStats li {
	list-style-type: none;
	margin-top: 5px;
	display: block;
}
#sidePanel p {
	margin-top: 25px;
}
#itemName {
	text-align: center;
	height: 70px;
}
.border {
	border-bottom: 1px solid #423D3B;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}