@import url("https://fonts.googleapis.com/css?family=Arvo:400,700");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Arvo", serif;
	color: #F7F5E3;
}

#mainPanel {
	background-color: #161514;
	width: calc(100% - 400px);
	height: 100%;
	float: right;
	padding: 15px;
}

#menu {
	background-color: #282524;
	padding: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

#sidePanel {
	background-color: #1C1A19;
	width: 400px;
	height: 100%;
	float: left;
	padding: 15px;
}

.artifact {
	background-image: url(sprites/artifacts_base.png);
	width: 48px;
	height: 58px;
	float: left;
	margin-right: 5px;
	list-style-type: none;
}

.spell {
	background-image: url(sprites/spells_base.png);
	width: 80px;
	height: 60px;
	float: left;
	margin-right: 5px;
	list-style-type: none;
}

#searchBar {
	display: block;
	margin-right: 10px;
	height: 28px;
	background-color: #282524;
	border: none;
	border-bottom: 2px solid #F7F5E3;
	outline: 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 28px;
}

.switch input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 28px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	border-radius: 20px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
#selRarity, #selType {
	display: inline-block;
}

#item {
	position: relative;
	height: 300px;
	width: 100%;
}

#item p {
	padding-bottom: 4px;
	color: #CCCABB;
}

.displayName {
	height: 70px;
	border-bottom: 1px solid #423D3B;
	text-align: center;
	margin-bottom: 30px;
}

.displayAttack::before {
	content: "Attack: ";
	color: #F7F5E3;
	text-shadow: 2px 2px #423D3B;
}

.displayDefense::before {
	content: "Defense: ";
	color: #F7F5E3;
	text-shadow: 2px 2px #423D3B;
}

.displayPower::before {
	content: "Power: ";
	color: #F7F5E3;
	text-shadow: 2px 2px #423D3B;
}

.displayKnowledge::before {
	content: "Knowledge: ";
	color: #F7F5E3;
	text-shadow: 2px 2px #423D3B;
}

.displayLevel::before {
	content: "Level: ";
	color: #F7F5E3;
	text-shadow: 2px 2px #423D3B;
}

.displayClass::before {
	content: "Class: ";
	color: #F7F5E3;
	text-shadow: 2px 2px #423D3B;
}

.displayEffect::before {
	content: "Effect: ";
	color: #F7F5E3;
	text-shadow: 2px 2px #423D3B;
}

.displayType {
	position: absolute;
	bottom: 0%;
	left: 0;
	color: #595350!important;
	width: 50%;
	float: left;
}

.displayRarity {
	position: absolute;
	bottom: 0%;
	right: 0%;
	color: #595350!important;
	width: 50%;
	float: right;
	text-align: right;
}